<!doctype html>
<html lang="en">
<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-1556170-27"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-1556170-27');
	</script>
	<title>Fast Issues - Create GitHub Issues Fast</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Create GitHub issues fast using plain text. Just write a batch of them and create them all at once">
	<link rel="canonical" href="https://fast-issues.herokuapp.com/" />
	<% assets = htmlWebpackPlugin.options.isDev ? 'static/': '/'; %>
	<% if ( ! htmlWebpackPlugin.options.isDev ) { %>
		<link rel="stylesheet" href="style.css" />
		<% } %>
		<link rel="apple-touch-icon" sizes="57x57" href="<%= assets %>apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="<%= assets %>apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="<%= assets %>apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="<%= assets %>apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="<%= assets %>apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="<%= assets %>apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="<%= assets %>apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="<%= assets %>apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="<%= assets %>apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="<%= assets %>android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="<%= assets %>favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="<%= assets %>favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="<%= assets %>favicon-16x16.png">
		<link rel="manifest" href="<%= assets %>manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="<%= assets %>ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:creator" content="@eliorivero" />
		<meta property="og:url" content="https://fast-issues.herokuapp.com" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Fast Issues" />
		<meta property="og:description" content="Create GitHub issues fast using plain text. Just write a batch of them and create them all at once" />
		<meta property="og:image" content="https://fast-issues.herokuapp.com/fast-issues.jpg" />
		<script type="application/ld+json">
			{
				"@context": "http://schema.org",
				"@type": "WebApplication",
				"name": "Fast Issues",
				"url": "https://fast-issues.herokuapp.com/",
				"description": "Create GitHub issues fast. Just write a batch of them using plain text and create them all at once",
				"applicationCategory": "Tool",
				"genre": "productivity",
				"about": {
					"@type": "Thing",
					"description": "github, issues, fast"
				},
				"browserRequirements": "Requires JavaScript.",
				"softwareVersion": "1.0.0",
				"softwareHelp": {
					"@type": "CreativeWork",
					"url": "https://startfunction.com"
				},
				"operatingSystem": "All"
			}
		</script>
	</head>
	<body>
		<div id="app"></div>
		<script type="text/javascript" src="<%= assets %>build.js"></script>
		<div class="footer">
			Created by Elio Rivero: <a href="https://startfunction.com">StartFunction</a> · <a href="https://instagram.com/eliorivero">Instagram</a> · <a href="https://twitter.com/eliorivero">Twitter</a>
		</div>
	</body>
	</html>
	