<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
			<title>Write issues</title>
			<% if ( htmlWebpackPlugin.options.environment !== 'development' ) { %>
				<link rel="stylesheet" href="style.css" />
			<% } %>
  </head>
  <body>
			<div id="app"></div>
			<script type="text/javascript" src="<% if ( htmlWebpackPlugin.options.environment === 'development' ) { %>static/<% } %>build.js"></script>
  </body>
</html>
