.has-tooltip {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.tooltip {
	position: relative;

	&__content {
		position: absolute;
		top: 0;
		right: 24px;
		min-width: 300px;
		background: #fff;
    border: 1px solid #ddd;
    padding: 10px 15px;
		border-radius: 2px;
		visibility: hidden;
		font-size: 1.2rem;
		line-height: 1.6rem;

		p {
			margin: .5rem 0 2rem;
		}
	}

	&__trigger {
		background-color: #fff;
		border: 1px solid #b8a7dc;
    color: #9d99bf;
		border-radius: 9em;
		width: 18px;
    height: 18px;
    display: flex;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;

		&:hover {
			cursor: help;
		}
	}

	&__trigger:hover + &__content {
		visibility: visible;
	}
}